*:focus { outline: 0 !important; box-shadow: none !important; }

.w-100 { width: 100%; }
.wrapper { min-height: 100vh; max-width: 50%; margin: 0 auto; }

h1 { font-size: 20pt; font-family: "Verdana" }

.menu { max-height: 300px; overflow-y: auto; width: 100% }
.menu .row { align-items: center }

.avatar { width: 100px; height: 100px; margin-right: 1rem; }

ul, li { margin: 0; }
a { font-size: 16pt; background-color: rgba(207, 229, 253, 0.5); padding: 0.3rem; font-family: "Consolas"; }

.lh-sm { line-height: 18px; }

p { margin: 0; }

.infos { padding-left: .7rem; }
.note { background-color: #edecff; padding: .7rem; border-radius: 9px; }
.shadow-light { box-shadow: 0px 3px 2px -2px #CACACA; }

textarea { resize: none; }